section {
    position: relative;
    display: grid;
    padding-right: 30px;
    overflow-y: hidden;
    grid-row: 1fr auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.trip {
    z-index: 10;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 20px;
    background-color: var(--color-500);
    color: var(--color-50);
    padding: 10px 10px 10px 24px;
}

.trip>div:first-child {
    display: grid;
    gap: 4px
}

.trip>div:first-child>div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px 10px;
}

.placa {
    font-size: 24px;
    font-weight: 500;
}

.almacen {
    background-color: var(--color-700);
    padding: 6px 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.list-personal {
    display: flex;
    align-items: center;
    gap: 4px 10px;
    flex-wrap: wrap;
}

.list-personal>a {
    padding: 6px 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.li-chofer {
    background-color: #5A3011;
}

.li-chofer p::before {
    content: "Chofer:";
    font-weight: 600;
    margin-right: 5px;
}

.li-aux {
    background-color: var(--color-950);
}

.li-aux p::before {
    content: "Aux Carga:";
    font-weight: 600;
    margin-right: 5px;
}

.trip>div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px
}

.trip>div:nth-child(2)>span {
    padding: 8px 24px;
    background-color: var(--color-950);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.trip>div:nth-child(2)>span::before {
    content: "Estado:";
    font-weight: 600;
    margin-right: 5px;
}

.icon-more:has(input[type="checkbox"]) {
    cursor: pointer;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

.icon-more:has(input[type="checkbox"]:checked) {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.option-trip {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}

section>main:hover .option-trip {
    opacity: 1;
}

.option-trip svg {
    cursor: pointer;
}

.option-trip svg:hover path {
    fill: var(--color-950);
    filter: drop-shadow(0 0 2px var(--color-950));
    -webkit-filter: drop-shadow(0 0 2px var(--color-950));
}

.container-shop {
    display: grid;
    z-index: 9;
    transition: margin-top .5s ease-out;
    -webkit-transition: margin-top .5s ease-out;
    -moz-transition: margin-top .5s ease-out;
    -ms-transition: margin-top .5s ease-out;
    -o-transition: margin-top .5s ease-out;
}

section:has(.icon-more>input[type="checkbox"]:checked) .container-shop {
    margin-top: -120%;
}

.container-shop>li {
    background-color: var(--color-100);
    border-bottom: 1px solid var(--color-950);
    padding: 10px 22px;
}

.dt-vh,
.dt-m3,
.dt-psEx,
.dt-distrito,
.dt-direccion,
.dt-destinatario {
    display: none;
}

.dt-psEx {
    max-width: 40px;
}

.dt-destinatario {
    max-width: 80px;
}

.dt-distrito {
    max-width: 100px;
}

.dt-m3 {
    max-width: 50px;
}

.dt-nombreTienda {
    max-width: 180px;
}

.container-shop>li>p {
    color: var(--color-700);
}

.container-shop>li>p::before {
    content: "Comentario:";
    font-weight: 600;
    margin-right: 5px;
}

.container-shop>li>div {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 100px;
    align-items: center;
}

.container-shop>li>div span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-shop>li>div select {
    background-color: transparent;
    outline: none;
    padding: 6px 8px;
    border: 2px solid var(--color-950);
    color: var(--color-950);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.container-shop>li>div>div {
    display: none;
    align-items: center;
    gap: 5px;
}

.container-shop>li>div>div>* {
    cursor: pointer;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

.icon-edit:hover {
    background-color: var(--color-300);
}

.icon-delete:hover {
    background-color: #99000050;
}

@media (width > 600px) {

    .dt-vh,
    .dt-direccion {
        display: block;
    }

    .container-shop>li>div>div {
        display: flex;
    }

    .container-shop>li>div {
        grid-template-columns: 180px 1fr auto 100px auto;
    }
}

@media (width > 700px) {
    .trip {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr auto;
    }
}

@media (width > 1000px) {

    .dt-m3,
    .dt-psEx,
    .dt-distrito,
    .dt-destinatario {
        display: block;
    }

    .container-shop>li>div {
        grid-template-columns: 1fr 1fr 180px 1fr 180px 1fr 120px 100px auto;
    }
}

@media (pointer: coarse) {
    .option-trip {
        opacity: 1;
    }
}

@media (any-pointer: coarse) {
    .option-trip {
        opacity: 1;
    }
}