<div class="tiendas">
    <h2>Tiendas</h2>
    <button>Agregar Tienda</button>
    <select id="tienda">
      <option value="PULITEZZA J&D S.A.C.">PULITEZZA J&D S.A.C.</option>
      <!-- Añadir más opciones si es necesario -->
    </select>
    <label>Vh. Inicio:
      <input type="time">
    </label>
    <label>Vh. Fin:
      <input type="time">
    </label>
    <label>Dirección:
      <input type="text">
    </label>
    <label>Distrito:
      <input type="text">
    </label>
    <select id="canal">
      <option value="Moderno">Moderno</option>
      <!-- Añadir más opciones si es necesario -->
    </select>
    <select id="status">
      <option value="volumen">Volumen</option>
      <!-- Añadir más opciones si es necesario -->
    </select>
    <select id="status">
      <option value="Entregado">Entregado</option>
      <!-- Añadir más opciones si es necesario -->
    </select>
    <label>Observación:
      <textarea></textarea>
    </label>
  </div>
  