<div class="pickings">
    <h2>Pickings</h2>
    <button>Agregar picking relacionado</button>
    <select id="picking">
      <option value="7195079">7195079</option>
      <!-- Añadir más opciones si es necesario -->
    </select>
    
    <select id="ruta">
      <option value="Santa Rosa - Ruta Larga">Santa Rosa - Ruta Larga</option>
      <!-- Añadir más opciones si es necesario -->
    </select>
    
    <select id="tipo_carga">
      <option value="FALSO FLETE">FALSO FLETE</option>
      <!-- Añadir más opciones si es necesario -->
    </select>
    <label>Observación:
      <textarea></textarea>
    </label>
  </div>
  