section>div:first-child {
    display: flex;
    align-items: center;
    gap: 20px;
}

section>div:last-child {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

select.cargo,
select.cargo:disabled {
    padding: 8px 12px;
    background-color: var(--color-700);
    color: var(--color-50);
    font-size: 16px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}