<section class="container-main tiendas">
  <div>
    <h2>Tiendas</h2>
    <button [disabled]="isDisable">Agregar Tienda</button>
  </div>

  <main>
    <div class="card-tienda" *ngFor="let entrega of entregas">
      <div>
        <label>
          <span>Tienda</span>
          <select [disabled]="isDisable">
            <option>{{entrega.tienda.nombreTienda ?? 'PULITEZZA J&D S.A.C.'}}</option>
          </select>
        </label>

        <label>
          <span>Vh. Inicio:</span>
          <input type="time" [disabled]="isDisable" [value]="stringTime(entrega.tienda.horaInicio)">
        </label>

        <label>
          <span>Vh. Fin:</span>
          <input type="time" [disabled]="isDisable" [value]="stringTime(entrega.tienda.horaFin)">
        </label>

        <label>
          <span>Dirección:</span>
          <input type="text" [disabled]="isDisable" [(ngModel)]="entrega.tienda.direccion">
        </label>

        <label>
          <span>Distrito:</span>
          <input type="text" [disabled]="isDisable" [(ngModel)]="entrega.tienda.distrito">
        </label>


        <label>
          <span>Ps. Ex:</span>
          <input type="text" [disabled]="isDisable" [(ngModel)]="entrega.tienda.psEx">
        </label>

        <label>
          <span>Status</span>
          <select [disabled]="isDisable">
            <option> {{ entrega.estadoEntrega ?? 'Registrado' }}</option>
          </select>
        </label>
      </div>


      <label>
        <span>Observación:</span>
        <textarea [disabled]="isDisable"></textarea>
      </label>
    </div>
  </main>
</section>