<section>
    <nav>
        <span (click)="goToMantenimiento()">Mantenimiento</span>
        <span>{{ nombreEntidad }}</span>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
    <div>
        <article class="card-entity" *ngFor="let entity of entities">
            <a *ngIf="entity.href; else noHref" [routerLink]="entity.href" routerLinkActive="isActive"
                (click)="nombreEntidad = entity.name">
                <img src="/assets/img/card-img.png" alt="card image">
                <div>
                    <h3>{{entity.name}}</h3>
                    <p><strong>total:</strong> {{ entity.count }}</p>
                </div>
            </a>
            <ng-template #noHref>
                <div class="disable">
                    <img src="/assets/img/card-img.png" alt="card image">
                    <div>
                        <h3>{{entity.name}}</h3>
                        <p><strong>total:</strong> {{ entity.count }}</p>
                    </div>
                </div>
            </ng-template>
        </article>
    </div>
</section>