<div class="personal">
    <h2>Personal</h2>
    <button>Nuevo aux. carga</button>
    <select id="conductor">
      <option value="Russell Gutierrez">Russell Gutierrez</option>
      <!-- Añadir más opciones si es necesario -->
    </select>
    
    <select id="aux_carga1">
      <option value="Esau Morales">Esau Morales</option>
      <!-- Añadir más opciones si es necesario -->
    </select>
    
    <select id="aux_carga2">
      <option value="Luis Beto">Luis Beto</option>
      <!-- Añadir más opciones si es necesario -->
    </select>
    
    <select id="aux_carga3">
      <option value="">-- seleccionar --</option>
      <!-- Añadir más opciones si es necesario -->
    </select>
    
    <select id="aux_carga4">
      <option value="">-- seleccionar --</option>
      <!-- Añadir más opciones si es necesario -->
    </select>
    <button>Editar cambios</button>
  </div>
  