/* Existing styles */
#content {
    display: flex;
    justify-content: center;
    padding: 2rem 2rem;
}

h1 {
    font-size: 2em;
    color: #0A60BD;
}

main {
    display: grid;
    gap: 0.8rem;
}

article {
    display: grid;
    gap: 0.3rem;
}

h3 {
    padding: 0 2rem;
    color: #324d6b;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}

.search-filter-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #F3F8FF; /* Background color */
    padding: 1rem;
    border-radius: 8px;
}

.search-input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex-grow: 1;
}

.date-range {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.date-range label {
    color: #0A4FEB;
    font-weight: bold;
}

.date-input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filter-button, .action-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #0A4FEB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button:hover, .action-button:hover {
    background-color: #053b91;
}

.filter-button svg {
    margin-right: 0.5rem;
}

.action-button {
    background-color: #0A4FEB;
}

.action-button:hover {
    background-color: #053b91;
}

/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #0A4FEB;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #053b91;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 1100px;
    height: 600px;
    overflow:scroll;
    
  }