<H1>VIAJES & TRACKING</H1>

<div class="search-filter-container">
    <input type="text" placeholder="Buscar Viajes..." class="search-input">
    <div class="date-range">
        <label for="start-date">Desde</label>
        <input type="date" id="start-date" class="date-input">
        <label for="end-date">hasta</label>
        <input type="date" id="end-date" class="date-input">
    </div>
    <button class="filter-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
            <path d="M1.5 1.5a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 .5.5v.632a1 1 0 0 1-.271.666L10 8.293v4.414a.5.5 0 0 1-.276.447l-3 1.5A.5.5 0 0 1 6 14.5v-6.207L1.771 2.798A1 1 0 0 1 1.5 2.132V1.5z"/>
        </svg>
        Filter
    </button>
    <button class="action-button">AGREGAR VIAJE</button>
    <button class="action-button">IMPORTAR</button>
</div>
<section id="content">
    <main>
        
        <article>
            <!-- <app-card-line-appointment-information *ngFor="let client of clientsCurrently" [client]="client"/> -->
        </article>
    </main>
    <app-modal *ngIf="activateModal">
        
        <div class="container">
            <app-viajecargado></app-viajecargado>
            <app-personal></app-personal>
            <app-pickings></app-pickings>
            <app-tiendas></app-tiendas>
          </div>
    </app-modal>
</section>


