section {
    display: grid;
    gap: 10px;
}

h1 {
    font-size: 2em;
    color: var(--color-950);
    display: block;
}

main,
div {
    display: flex;
    align-items: center;
}

main {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #F3F8FF;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

main>div {
    gap: 10px;
}

main>div:nth-child(1),
main>div:nth-child(1) div {
    flex-wrap: wrap;
}

input {
    font-family: inherit;
    color: var(--color-900);
}

input::placeholder {
    color: var(--color-700);
}

label:has(.input-search) {
    display: flex;
    gap: 12px;
    padding: 5px 16px 5px 12px;
    border: 1px solid var(--color-700);
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.input-search {
    border: none;
    background-color: transparent;
}

.date-range {
    display: flex;
    align-items: center;
    gap: 10px 0;
}

.date-range label {
    display: grid;
    grid-template-columns: auto 1fr;
}

.date-range label:first-child span {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
}

.date-range label:last-child input[type="date"] {
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
}

.btn,
button,
.date-range label span {
    padding: 8px 12px;
    background-color: var(--color-700);
    color: var(--color-50);
    font-weight: 600;
    font-size: 16px;
}

.btn,
button span {
    font-weight: 700;
}

input[type="date"] {
    padding: 0.5rem;
    border: 1px solid var(--color-700);
}

.btn,
button {
    height: 36px;
    display: flex;
    gap: 8px;
    font-weight: 500;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.btn:hover,
button:hover {
    background-color: var(--color-800);
}