<div id="logo-header" >
    <img src="../../../assets/img/aea1.png" alt="Logo adr luceros">
    <span>
        <p>Empresa de Transportes A.D.R.</p>
        <p>LUCEROS S.A.C.</p>
    </span>
</div>
<section class="container">
    <main class="card">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h1>INICIAR SESION</h1>
            <div>
                <h4>Usuario: </h4>
                <label>
                    
                    <input type="email" placeholder="user.name@example.com" formControlName="email">
                </label>
                <ul class="list-error">
                    <li *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                        El email es obligatorio*
                    </li>
                    <li *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
                        El email no es valido
                    </li>
                </ul>
            </div>
            <div>
                <h4>Contraseña: </h4>
                <label>
                   <input type="password" placeholder="password" formControlName="password">
                </label>
                <ul class="list-error">
                    <li *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                        Este campo es obligatorio*
                    </li>
                </ul>
            </div>
            
            <div>
                <input type="submit" value="Iniciar Sesión" [disabled]="loginForm.invalid" [ngClass]="{ 'disabled': loginForm.invalid }">
            </div>
        </form>
    </main>
</section>