section>div:first-child {
    display: flex;
    align-items: center;
    gap: 20px;
}

section>main {
    display: grid;
    gap: 10px;
}

.card-flete {
    padding: 20px;
    background-color: color-mix(in srgb, var(--color-700) 6%, transparent);
    border-top: solid 1px color-mix(in srgb, var(--color-700) 35%, transparent);
    border-bottom: solid 1px color-mix(in srgb, var(--color-700) 35%, transparent);
}

.card-flete>div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}