<section class="container-main pickings">
  <div>
    <h2>Pickings</h2>
    <button [disabled]="isDisable">Agregar picking</button>
  </div>
  <main>
    <div class="card-flete" *ngFor="let flete of fletes">
      <div>
        <label>
          <span>Picking</span>
          <select [disabled]="isDisable">
            <option>{{ flete.picking.nroPicking ?? '7195079' }}</option>
          </select>
        </label>

        <label>
          <span>Ruta</span>
          <select [disabled]="isDisable">
            <option>{{ flete.ruta ?? 'Santa Rosa - Ruta Larga' }}</option>
          </select>
        </label>

        <label>
          <span>Tipo carga</span>
          <select [disabled]="isDisable">
            <option>{{ flete.tipo.nombreTipo ?? 'Tipo A' }}</option>
          </select>
        </label>
      </div>
      <label>
        <span>Observación</span>
        <textarea [disabled]="isDisable"></textarea>
      </label>
    </div>
  </main>
</section>